body {
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 60px;
	color: #eee;
	margin: 8px;
}

.ethAmount {
	color: #bad455;
}

h2 {
	font-size: 40px;
	color: hsl(72, 43%, 29%);
	margin: 8px;
}

canvas {
	position: absolute;
}
