body {
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

@media screen and (max-width: 1240px) {
	h1 {
		font-size: 2rem !important;
		color: #eee;
		margin: 8px;
	}

	.ethAmount {
		color: #bad455;
	}

	h2 {
		font-size: 1rem !important;
		color: hsl(72, 43%, 29%);
		margin: 8px;
	}

	a {
		text-decoration: none;
		color: hsl(72, 43%, 29%);
	}
}

h1 {
	font-size: 4rem;
	color: #eee;
	margin: 8px;
}

.ethAmount {
	color: #bad455;
}

h2 {
	font-size: 3rem;
	color: hsl(72, 43%, 29%);
	margin: 8px;
}
a {
	text-decoration: none;
	color: hsl(72, 43%, 29%);
}

canvas {
	position: absolute;
}
